<!---->
<div class="col-md-5 pull-right">
    <!-- Creates Main Panel -->
    <div class="panel panel-default">
        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">What do you feel like eating today? <span></span></h2>
        </div>
        <!-- Panel Body -->
        <div class="panel-body modal-open">
            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name="addForm">
                <!-- Text Boxes-->
                <div ng-repeat="user in users track by $index" class="form-group col-md-12 pic well">

                    <span>
                    <a ui-sref="profile({id:user._id})"><h4><strong>{{user.fullname}}</strong></h4></a>

                    <strong> Type Of Food:</strong> {{user.type}} - {{user.dish}}
                    <br>
                    <i class="fa fa-cutlery" aria-hidden="true"></i> {{user.options}}
                    <br>
                    <i class="fa fa-money" aria-hidden="true"></i> Price {{user.price}} NIS
                    <br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{user.locationHC}}
                    <br>
                    <a href="/#/orderForm">
                        <button class="btn btn-danger" type="button"><i class="fa fa-credit-card"
                                                                        aria-hidden="true"></i> Start Order
                        </button>
                    </a>
                    </span>
                    <div class="col-md-6 pull-left"><img class="fotos" ng-src="{{user.img}}"
                                                         style="width:200px; height:150px">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
