<!---->
<div class="col-md-5 pull-right">
    <!-- Creates Main Panel -->
    <div class="panel panel-default">
        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">What do you feel like eating today? <span></span></h2>
        </div>
        <!-- Panel Body -->
        <div class="panel-body modal-open">
            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name="addForm ">

                <div ng-repeat="user in users track by $index" class="media">
                <div ng-if="user.cook == true" class="form-group col-md-12 pic well modal-open">
                        <div class="container">

                            <a ui-sref="profile({id:user._id})"><h3 class="media-left">
                                <strong>{{user.username}}</strong></h3></a>
                            <div ng-repeat="food in user.foods track by $index" class="media-object">


                                <img class="media-object fotos" ng-src="{{food.img}}"
                                     style="width:250px; height:150px" alt="...">
                                <div class="media-body">

                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="badge"><i class="fa fa-cutlery"
                                                                   aria-hidden="true"></i>  </span>
                                            <strong> Type Of Food:</strong> {{food.dish}}
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge"><i class="fa fa-money" aria-hidden="true"></i>  </span>
                                            <strong> Availability:</strong> {{food.availability}}
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge"><i class="fa fa-money" aria-hidden="true"></i>  </span>
                                            <strong> </strong> "{{food.description}}"
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge"><i class="fa fa-envelope-o"
                                                                   aria-hidden="true"></i>  </span>
                                            <strong> Mail:</strong> {{user.email}}
                                        </li>
                                        <!--<li class="list-group-item">-->
                                            <!--&lt;!&ndash;<a href="/#/orderForm">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<button class="btn btn-danger" type="button"><i&ndash;&gt;-->
                                                        <!--&lt;!&ndash;class="fa fa-credit-card"&ndash;&gt;-->
                                                        <!--&lt;!&ndash;aria-hidden="true"></i>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;Start Order&ndash;&gt;-->
                                                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                            <!--</a>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div ng-repeat="user in users track by $index"  >-->
                    <!--&lt;!&ndash; Text Boxes&ndash;&gt;-->
                    <!--<div  ng-if="user.cook == true" class="form-group col-md-12 pic well">-->

                    <!--<span>-->
                    <!--<a ui-sref="profile({id:user._id})"><h4><strong>{{user.username}}</strong></h4></a>-->
                    <!--<div ng-repeat="food in user.foods track by $index">-->

                    <!--<strong> Type Of Food:</strong> {{food.dish}}<br>-->
                    <!--<i class="fa fa-cutlery" aria-hidden="true"></i>-->
                    <!--<br>-->
                    <!--<i class="fa fa-money" aria-hidden="true"></i> Price {{food.price}} NIS-->
                    <!--<br>-->
                    <!--<i class="fa fa-map-marker" aria-hidden="true"></i>-->
                    <!--<br>-->
                    <!--&lt;!&ndash;<a href="/#/orderForm">&ndash;&gt;-->
                    <!--&lt;!&ndash;<button class="btn btn-danger" type="button"><i class="fa fa-credit-card"&ndash;&gt;-->
                    <!--&lt;!&ndash;aria-hidden="true"></i> Start Order&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->

                    <!--<div class="col-md-6 pull-left"><img class="fotos" ng-src="{{food.img}}"-->
                    <!--style="width:200px; height:150px">-->
                    <!--</div> </div>-->
                    <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            </form>
        </div>
    </div>
</div>
