<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img class="img-responsive" alt="" ng-src="{{cook.cookPic}}">
                </div>
                <!-- END SIDEBAR USERPIC -->

                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{cook.username}}
                    </div>
                    <div ng-repeat="food in user.foods track by $index"  class="profile-usertitle-job">
                        Type of Food: {{food.dish}}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->


                <div class="profile-userbuttons">
                    <p>{{cook.descrip}}</p>
                    <button type="button" class="btn btn-success btn-sm glyphicon glyphicon-thumbs-up"></button>
                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-thumbs-down"></button>
                </div>

                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                Add a Review </a>
                        </li>
                    </ul>
                    <form ng-submit="addReview(review)">
                        <div class="form-group">
                                    <textarea rows="7" cols="39" type="text" class="form-control"
                                              placeholder="Add review..." ng-model="review.text"></textarea>
                            <button type="submit" class="btn btn-primary pull-right">Add the Review!</button>
                        </div>

                    </form>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9" ng-repeat="rev in cook.reviews track by $index">

            <!--<div class="profile-content">-->
            <!--<div class="row-fluid">-->
            <!--<div class="col-sm-8">-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{rev.author}}</h3>

                </div>
                <!--/panel-heading-->
                <div class="panel-body">
                    {{rev.text}}


                    <!--</div>&lt;!&ndash;/panel-body&ndash;&gt;-->
                    <!--<div class="panel-footer clearfix">-->

                    <span ng-click="downvote(review._id)"> </span>
                    <i ng-click="deleteReview(review)"
                       class="fa fa-trash pull-right"
                       aria-hidden="true" role="button"></i>

                </div><!--/panel-footer-->
            </div><!--/panel-->
            <!--</div>&lt;!&ndash;/col-sm-6&ndash;&gt;-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>

<br>
