<form ng-submit="register()">
  <h3>Register</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
  </div>
<div class="form-group">

                    <input type="text" class="form-control" id="cook" ng-model="user.cook">
                </div>
                <div class="form-group">

                    <input type="hidden" class="form-control" id="latitude" value="32.04" ng-model="user.latitude" readonly>
                </div>
                <div class="form-group">

                    <input type="hidden" class="form-control" id="longitude" value="34.46" ng-model="user.longitude" readonly>
                </div>
                <div class="form-group">
                    <!-- Note RefreshLoc button tied to addCtrl. This requests a refresh of the HTML5 verified location. -->
                    <label for="verified">Verified Location? <span><button ng-click="refreshLoc()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                    <input type="text" class="form-control" id="verified" placeholder= "Nope (Thanks for spamming my map...)" ng-model="formData.htmlverified" readonly>
                </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>